@-webkit-keyframes flash-background {
  from, 50%, to {
    background-color: white;
  }

  25%, 75% {
    background-color: yellow;
  }
}

@keyframes flash-background {
  from, 50%, to {
    background-color: white;
  }

  25%, 75% {
    background-color: yellow;
  }
}

.flash-background {
  -webkit-animation-name: flash-background;
  animation-name: flash-background;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
}

iframe {
  border-width: 0px;
  width: 100%;
  height: 400px;
}

.css-editor {
  font-size: 40px;
}

.css-line {
  display: flex;
  width: 800px;
}

.css-editor-selector{
  width: 200px;
}

.css-editor-indent {
  width: 2em;
}

.css-editor-space {
  width: 1em;
}

.css-editor-property {
  width: 500px;
}

.css-editor-colon {
  width: 1em;
}

.css-editor-value {
  width: 30%;
}

.css-editor-semicolon {
  width: 1em;
}

.css-editor-input {
  font-size: 1em;
  width: 100%;
}