body {
  font-size:        16px;
  background-color: #fffb1b;
  margin:           0px;
}

.bar {
  text-align:       center;
  font-family:      Chewy;
  font-size:        24px;
  background-color: #a2f570;
}
