/*********************************************************
  Animation
*********************************************************/
@keyframes delete {
  from {
    height: 50px;
  }
  to {
    height: 0px;
  }
}
.delete {
  -webkit-animation-name: delete;
  animation-name: delete;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  overflow: hidden;
  opacity: 0.5;
}

@keyframes css-delete {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: darkslategrey;
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
    height: 0px;
  }
}

@-webkit-keyframes flash-background {
  from, 50%, to {
    background-color: white;
  }

  25%, 75% {
    background-color: yellow;
  }
}

@keyframes flash-background {
  from, 50%, to {
    background-color: white;
  }

  25%, 75% {
    background-color: yellow;
  }
}

.flash-background {
  -webkit-animation-name: flash-background;
  animation-name: flash-background;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

}



@-webkit-keyframes flashed {
  from, 50%, to {
    opacity: 0;
  }

  25%, 75% {
    opacity: 1;
  }
}

@keyframes flashed {
  from, 50%, to {
    opacity: 0;
  }

  25%, 75% {
    opacity: 1;
  }
}

.css-flashed {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  overflow: hidden;
  -webkit-animation-name: flashed;
  animation-name: flashed;
}
/*********************************************************
  CSS Editor Classes
*********************************************************/

.css-delete {
  -webkit-animation-name: css-delete;
  animation-name: css-delete;
}

.css-animated {
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.css-editor {
  padding         : 5px;
  font-family     : "Source Code Pro";
  background-color: white;
}

.css-editor div{
  flex-shrink: 0;
}

.css-line {
  display: flex;
}

.css-editor-selector{
}

.css-editor-indent {
  width: 1em;
}

.css-editor-space {
  width: 1em;
}

.css-editor-property {
  min-width: 200px;
  color: #006699;
  font-weight: bold;

}
.css-editor-value {
  color: #009900;
}

.css-editor-colon,
.css-editor-semicolon {
  width: 1em;
  font-weight: 700;
}

.css-comment{
  color: #bbbaf1;
}

.css-editor-input {
  font-size: 1em;
  width: 100%;
  /*border-width: 0.5px;*/
  /*line-hegith: inherit;*/
  /*padding:     inherit;*/
  /*color:       inherit;*/
}

.css-editor-highlight {
  background-color: yellow;
}

.css-editor .css-grayout {
  color: darkgray;
}
/*********************************************************
  Tooltip
*********************************************************/
span.css-tooltip {
  position: relative;
  display:  inline;
}
span.css-tooltip span {
  position:      absolute;
  padding:       5px 10px;
  color:         #FFFFFF;
  background:    #17FF2E;
  border-radius: 5px;
  box-shadow:    3px 3px 5px #778029;
  bottom:        30px;
  left:          0%;
  z-index:       999;
}
span.css-tooltip span:after {
  position:     absolute;
  top:          100%;
  left:         16px;
  width: 0; height: 0;
  margin-left:  -8px;
  border-top:   8px  solid #17FF2E;
  border-right: 16px solid transparent;
  border-left:  0px  solid transparent;
  content:     '';
}
