.html-editor {
  padding         : 5px;
  background-color: white;
  font-family     : "Source Code Pro";
}

.html-tag-name {
  color: #006699;
}

.html-attribute-name {
  color:       gray;
}
.html-attribute-value {
  color:       blue;
}

.html-line {
  display:     flex;
  line-height: 18px;
}

.html-block {
  display: flex;
}

.html-doctype {
  color: lightgray;
}

.html-editor-highlight {
  background-color: yellow;
}