.box {
  width:            150px;
  height:           150px;
  margin:           10px;
  background-color: red;
}

.circle {
  width:            150px;
  height:           150px;
  border-radius:    150px;
  margin:           10px;
  background-color: red;
}

.container {
  display: flex;
}

.text-center {
  display        : flex;
  font-size      : 40px;
  text-shadow    : 2px 2px Gray;
  color          : white;
  align-items    : center;
  justify-content: center;
}